<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Уважаемый {{ user.username}}</h5>
    <p class="card-text">Кликай на кнопку ниже чтобы посмтреть новые интересные темы и задания</p>
    <a href="{% url 'recipes-home' %}" class="btn btn-primary">Посмотреть интересные темы и задания</a>
  </div>
  
</div>

{% endblock content %}